Our DataFrame is the list of French mayors in 2014:

https://www.data.gouv.fr/storage/f/2014-04-25T17-51-58/maires-25-04-2014.xlsx

this file is also in `data/maires-25-04-2014.xlsx` so no reason to reload it...

### Load the file in a DataFrame

Notre tableau est la liste des maires français en 2014:

https://www.data.gouv.fr/storage/f/2014-04-25T17-51-58/maires-25-04-2014.xlsx

ce fichier est aussi dans `data/maires-25-04-2014.xlsx` donc aucune raison de le recharger ...

### Charger le fichier dans un DataFrame

In [1]:
import pandas as pd

?pd.read_excel

### Corriger le tableau

Nous pouvons voir qu'il y a des problèmes:
    
* Les 3 premières lignes ne sont que des commentaires à ignorer
* la dernière ligne contient des sommes que nous ne voulons pas
* les noms des colonnes sont dans la quatrième ligne
* les nom des colonnes est trop long (par exemple, "Code du département (Maire)"), alors définissons notre nom et ignorons également la ligne 4 (le titre)

Afficher le début du tableau après corrections.

Note : il est conseillé de recharger le tableau correctement.

In [2]:
maires = pd.read_excel('data/maires-25-04-2014.xlsx', skiprows=3, skipfooter=1,
                      names=['code dep','nom dep','code commune','nom commune', 'population',
                             'nom élu', 'prénom élu', 'civilité', 'naissance', 'code profession', 'nom profession'])
maires

,code dep,nom dep,code commune,nom commune,population,nom élu,prénom élu,civilité,naissance,code profession,nom profession
0,1,AIN,1,L'Abergement-Clémenciat,780,BOULON,Daniel,M,1951-03-04,61,Retraités salariés privés
1,1,AIN,2,L'Abergement-de-Varey,234,ORSET,Max,M,1947-11-02,65,Autres retraités
2,1,AIN,4,Ambérieu-en-Bugey,13839,FABRE,Daniel,M,1961-09-07,51,Cadres (entreprises publiques)
3,1,AIN,5,Ambérieux-en-Dombes,1600,PERNET,Pierre,M,1961-07-29,42,Professeurs du secondaire et techn.
4,1,AIN,6,Ambléon,112,BIONDA,Annie,Mme,1951-11-28,63,Retraités fonct.publique (sf enseig.)
5,1,AIN,7,Ambronay,2365,LEVRAT,Gisèle,Mme,1953-08-08,61,Retraités salariés privés
6,1,AIN,8,Ambutrix,734,DELOFFRE,Dominique,M,1962-10-03,14,Agents technique et techniciens
7,1,AIN,9,Andert-et-Condon,339,DELARUELLE,Yves,M,1944-01-29,61,Retraités salariés privés
8,1,AIN,10,Anglefort,1031,THIBOUD,Bernard,M,1948-07-06,59,Retr.artis.commerc.chefs d'entrep.
9,1,AIN,11,Apremont,374,GIRARD,Jean-Pierre,M,1951-10-30,61,Retraités salariés privés
10,1,AIN,12,Aranc,306,MATHIEU,Daniel,M,1948-04-02,41,Professeurs de faculté
11,1,AIN,13,Arandas,162,MANOS,Lionel,M,1970-09-07,1,Agriculteurs propriétaires exploit.
12,1,AIN,14,Arbent,3458,MAISSIAT,Liliane,Mme,1944-01-01,61,Retraités salariés privés
13,1,AIN,15,Arbignieu,484,BERGER,Charles,M,1951-04-04,64,Retraités des entreprises publiques
14,1,AIN,16,Arbigny,405,GRAS,Daniel,M,1948-08-10,59,Retr.artis.commerc.chefs d'entrep.
15,1,AIN,17,Argis,421,CHEVE,Marcel,M,1938-03-05,61,Retraités salariés privés
16,1,AIN,19,Armix,20,VUILLOUD,Véronique,Mme,1964-08-28,23,Salariés du secteur médical
17,1,AIN,21,Ars-sur-Formans,1374,PACCAUD,Richard,M,1952-11-21,61,Retraités salariés privés
18,1,AIN,22,Artemare,1140,CHARMONT-MUNET,Mireille,Mme,1952-05-17,60,Retraités des professions libérales
19,1,AIN,23,Asnières-sur-Saône,73,WILLEMS,Jean-Marc,M,1951-09-30,61,Retraités salariés privés
20,1,AIN,24,Attignat,3023,MARTIN,Walter,M,1966-05-07,18,Cadres supérieurs (secteur privé)
21,1,AIN,25,Bâgé-la-Ville,3114,REPIQUET,Dominique,M,1949-05-06,47,Fonctionnaires de catégorie A
22,1,AIN,26,Bâgé-le-Châtel,786,THEVENOT,Jean-claude,M,1946-06-27,61,Retraités salariés privés
23,1,AIN,27,Balan,2498,BOUVIER,Gérard,M,1953-07-31,1,Agriculteurs propriétaires exploit.
24,1,AIN,28,Baneins,567,GRANGE,Jean-Pierre,M,1964-05-28,1,Agriculteurs propriétaires exploit.
25,1,AIN,29,Beaupont,650,GOULY,Georges,M,1951-05-25,59,Retr.artis.commerc.chefs d'entrep.
26,1,AIN,30,Beauregard,867,DOMPOINT,Daniel,M,1951-04-01,59,Retr.artis.commerc.chefs d'entrep.
27,1,AIN,31,Bellignat,3590,ARBANT,Jean-Georges,M,1949-02-11,61,Retraités salariés privés
28,1,AIN,32,Béligneux,3040,SIGOIRE,Francis,M,1953-01-12,37,Journalistes et autres médias
29,1,AIN,33,Bellegarde-sur-Valserine,11630,PETIT,Régis,M,1956-04-06,42,Professeurs du secondaire et techn.
...,...,...,...,...,...,...,...,...,...,...,...
35856,ZP,POLYNESIE FRANCAISE,29,Moorea-Maiao,17236,HAUMANI,Evans,M,1962-07-31,54,Permanents politiques
35857,ZP,POLYNESIE FRANCAISE,30,Napuka,359,ARAI EPOUSE TAKI,Mautaina,Mme,1954-03-04,9,Commercants
35858,ZP,POLYNESIE FRANCAISE,31,Nuku-Hiva,2966,KAUTAI,Benoît,M,1960-11-28,52,Employés (autres entrep. publiques)
35859,ZP,POLYNESIE FRANCAISE,32,Nukutavake,352,NOHOTEMOREA EPOUSE TOKORA,Philomène,Mme,1967-06-25,57,Sans profession déclarée
35860,ZP,POLYNESIE FRANCAISE,33,Paea,12541,GRAFFE,Jacquie,M,1942-12-04,63,Retraités fonct.publique (sf enseig.)
35861,ZP,POLYNESIE FRANCAISE,35,Papeete,25769,BUILLARD,Michel,M,1950-09-09,65,Autres retraités
35862,ZP,POLYNESIE FRANCAISE,36,Pirae,14129,FRITCH,Edouard,M,1952-01-04,54,Permanents politiques
35863,ZP,POLYNESIE FRANCAISE,37,Puka Puka,166,VILLANT,Raphaël,M,1961-02-08,52,Employés (autres entrep. publiques)
35864,ZP,POLYNESIE FRANCAISE,38,Punaauia,27613,TUMAHAI,Ronald,M,1948-09-07,62,Retraités de l'enseignement
35865,ZP,POLYNESIE FRANCAISE,39,Raivavae,947,TEVAATUA,Joachim,M,1969-07-18,65,Autres retraités
35866,ZP,POLYNESIE FRANCAISE,40,Rangiroa,3281,MARAEURA,Teina,M,1950-08-11,1,Agriculteurs propriétaires exploit.
35867,ZP,POLYNESIE FRANCAISE,41,Rapa,515,NARII,Tuanainai,M,1963-08-27,52,Employés (autres entrep. publiques)
35868,ZP,POLYNESIE FRANCAISE,42,Reao,606,LY,Marie-Thérèse,Mme,1947-09-29,62,Retraités de l'enseignement
35869,ZP,POLYNESIE FRANCAISE,43,Rimatara,879,HATITIO,Georges,M,1954-07-12,1,Agriculteurs propriétaires exploit.
35870,ZP,POLYNESIE FRANCAISE,44,Rurutu,2325,RIVETA,Frédéric,M,1954-07-19,47,Fonctionnaires de catégorie A
35871,ZP,POLYNESIE FRANCAISE,45,Tahaa,5220,TEMATARU,Céline,Mme,1958-06-30,20,Employés (secteur privé)
35872,ZP,POLYNESIE FRANCAISE,46,Tahuata,703,BARSINAS,Félix,M,1968-08-14,43,Enseignants 1er deg.-directeurs école
35873,ZP,POLYNESIE FRANCAISE,47,Taiarapu-Est,12253,JAMET,Anthony,M,1952-08-27,63,Retraités fonct.publique (sf enseig.)
35874,ZP,POLYNESIE FRANCAISE,48,Taiarapu-Ouest,7639,TAVAEARII,Wilfred,M,1961-09-10,48,Fonctionnaires de catégorie B
35875,ZP,POLYNESIE FRANCAISE,49,Takaroa,1577,TEHAHE,Teapehu,Mme,1965-11-09,57,Sans profession déclarée
35876,ZP,POLYNESIE FRANCAISE,50,Taputapuatea,4786,MOUTAME,Thomas,M,1958-05-22,54,Permanents politiques
35877,ZP,POLYNESIE FRANCAISE,51,Tatakoto,294,TEAGAI,Igino,M,1971-02-08,20,Employés (secteur privé)
35878,ZP,POLYNESIE FRANCAISE,52,Teva I Uta,9398,ALPHA,Tearii,M,1971-12-05,54,Permanents politiques
35879,ZP,POLYNESIE FRANCAISE,53,Tubuai,2173,TAHIATA,Fernand,M,1967-02-18,48,Fonctionnaires de catégorie B
35880,ZP,POLYNESIE FRANCAISE,55,Tureia,300,BRANDER,Tevahineheipua,Mme,1988-11-23,57,Sans profession déclarée
35881,ZP,POLYNESIE FRANCAISE,56,Ua-Huka,621,OHU,Nestor,M,1962-04-02,52,Employés (autres entrep. publiques)
35882,ZP,POLYNESIE FRANCAISE,57,Ua-Pou,2173,KAIHA,Joseph,M,1960-12-07,43,Enseignants 1er deg.-directeurs école
35883,ZP,POLYNESIE FRANCAISE,58,Uturoa,3697,TEROOATEA,Sylviane,Mme,1966-10-13,50,Cadres sup. (entreprises publiques)
35884,ZS,SAINT PIERRE ET MIQUELON,501,Miquelon-Langlade,635,DE LIZARRAGA,Jean,M,1943-12-17,63,Retraités fonct.publique (sf enseig.)
35885,ZS,SAINT PIERRE ET MIQUELON,502,Saint-Pierre,5676,CLAIREAUX,Karine,Mme,1963-11-15,49,Fonctionnaires de catégorie C

### Correct the dataframe

We can see there are issues:
    
* first 3 lines are just comments to ignore
* last line holds sums which we don't want
* names of columns are in the forth line
* names of columns are too long (e.g. 'Code du département (Maire)') so let define our name and ignore line 4 too (the title)

Show head of the resulting DataFrame.

Note: it can be useful to reaload the DataFrame with the right arguments.

### Cast birth and population

Birth and population are useless String, cast them to what they should be.

### Naissance et population

Mettre au bon type les colonnes naissance et population.

In [3]:
maires.population.dtype # c'est bon

dtype('int64')

In [4]:
maires[maires.naissance > '1990-01-01'] # c'est bon aussi

,code dep,nom dep,code commune,nom commune,population,nom élu,prénom élu,civilité,naissance,code profession,nom profession
4560,14,CALVADOS,189,Coupesarte,36,LE BOUCHER,Thomas,M,1994-03-01,40,Etudiants
5154,15,CANTAL,66,Le Falgoux,139,CHAMBON,Louis,M,1992-10-02,57,Sans profession déclarée
7171,21,COTE D'OR,421,Moloy,217,PAQUET,Florian,M,1990-11-26,57,Sans profession déclarée
16019,42,LOIRE,12,Bard,620,PAQUET,Quentin,M,1991-12-08,44,Professions rattachées à enseignt.
17637,47,LOT ET GARONNE,232,Saint-Barthélemy-d'Agenais,511,MALANGE,Gaëtan,M,1990-11-24,57,Sans profession déclarée
20573,54,MEURTHE ET MOSELLE,471,Saint-Boingt,77,CÉKOVIC,Mathieu,M,1992-06-14,20,Employés (secteur privé)
22930,59,NORD,484,Quiévrechain,6130,GRINER,Pierre,M,1990-10-03,40,Etudiants
24622,62,PAS DE CALAIS,447,Hesdin,2182,SIECZKOWSKI-SAMIER,Stéphane,M,1992-03-15,40,Etudiants
27661,68,HAUT RHIN,359,Wattwiller,1738,SCHELLENBERGER,Raphaël,M,1990-02-14,19,Autres cadres (secteur privé)
34848,89,YONNE,220,Lavau,500,D'ASTORG,Charles,M,1990-08-29,40,Etudiants
35292,91,ESSONNE,326,Juvisy-sur-Orge,14924,REDA,Robin,M,1991-05-10,57,Sans profession déclarée

### Add a column 'age'

Use the birthdate to add a column 'age'. You may need to compute in year since TimeDelta are in days by default.

### Ajouter une colonne "age"

Utilisez la date de naissance pour ajouter une colonne 'age'. Vous devrez peut-être calculer en année car TimeDelta est en jours par défaut.

In [5]:
import datetime as dt

# la solution naturelle dans l'esprit de Pandas et Numpy
maires['age'] = (dt.datetime.now() - maires['naissance']).astype('timedelta64[Y]')
maires.head()

,code dep,nom dep,code commune,nom commune,population,nom élu,prénom élu,civilité,naissance,code profession,nom profession,age
0,1,AIN,1,L'Abergement-Clémenciat,780,BOULON,Daniel,M,1951-03-04,61,Retraités salariés privés,67.0
1,1,AIN,2,L'Abergement-de-Varey,234,ORSET,Max,M,1947-11-02,65,Autres retraités,71.0
2,1,AIN,4,Ambérieu-en-Bugey,13839,FABRE,Daniel,M,1961-09-07,51,Cadres (entreprises publiques),57.0
3,1,AIN,5,Ambérieux-en-Dombes,1600,PERNET,Pierre,M,1961-07-29,42,Professeurs du secondaire et techn.,57.0
4,1,AIN,6,Ambléon,112,BIONDA,Annie,Mme,1951-11-28,63,Retraités fonct.publique (sf enseig.),67.0

Cela semble bien puisque le premier maire a bien 67 ans (le 26/02/19) et non 68 si on avait fait

In [6]:
 ((dt.datetime.now() - maires['naissance']).dt.days // 365)[0]

68

Il existe un paquet qui gère les dates et intervales de facon tres fine : `relativedelta` de `dateutil`. Vérifions qu'il
trouve le même résultat :

In [7]:
from dateutil.relativedelta import relativedelta

maires['age2'] = [relativedelta(dt.datetime.now(), x).years for x in maires.naissance]

In [8]:
maires[maires.age != maires.age2]

,code dep,nom dep,code commune,nom commune,population,nom élu,prénom élu,civilité,naissance,code profession,nom profession,age,age2
314,1,AIN,347,Saint-Didier-de-Formans,1775,VALLOS,Frédéric,M,1963-02-27,49,Fonctionnaires de catégorie C,56.0,55
839,2,AISNE,458,Marchais-en-Brie,275,MOROY,Alain,M,1952-02-27,59,Retr.artis.commerc.chefs d'entrep.,67.0,66
1231,3,ALLIER,119,Gannay-sur-Loire,410,DEVEAU,Bernadette,Mme,1940-02-27,65,Autres retraités,79.0,78
2466,8,ARDENNES,176,Fossé,55,HULOT,Christian,M,1948-02-27,58,Retraités agricoles,71.0,70
2508,8,ARDENNES,222,Haybes,2054,SONNET,Benoît,M,1942-02-27,62,Retraités de l'enseignement,77.0,76
2569,8,ARDENNES,295,Mondigny,181,THOMAS,Daniel,M,1947-02-27,61,Retraités salariés privés,72.0,71
2655,8,ARDENNES,390,Sainte-Marie,92,GIRONDELOT,Bernard,M,1952-02-27,1,Agriculteurs propriétaires exploit.,67.0,66
5072,14,CALVADOS,745,Vierville-sur-Mer,248,DE BELLAIGUE,Antoine,M,1952-02-27,61,Retraités salariés privés,67.0,66
5193,15,CANTAL,105,Leyvaux,33,PAGENEL,Bernard,M,1952-02-27,58,Retraités agricoles,67.0,66
5473,16,CHARENTE,129,Eraville,215,HILLAIRET,Chantal,Mme,1946-02-27,58,Retraités agricoles,73.0,72
5565,16,CHARENTE,224,Montchaude,528,BERGEON,Frédéric,M,1964-02-27,19,Autres cadres (secteur privé),55.0,54
5749,16,CHARENTE,425,Yvrac-et-Malleyrand,519,GEIGER,Serge,M,1947-02-27,59,Retr.artis.commerc.chefs d'entrep.,72.0,71
9688,27,EURE,94,Bosquentin,115,FOUQUET,Sylviane,Mme,1944-02-27,61,Retraités salariés privés,75.0,74
12878,33,GIRONDE,332,Porchères,906,REDON,David,M,1979-02-27,56,Autres professions,40.0,39
12914,33,GIRONDE,370,Saint-Androny,564,RIVEAU,Pascal,M,1968-02-27,1,Agriculteurs propriétaires exploit.,51.0,50
14081,37,INDRE ET LOIRE,47,Cerelles,1228,POULLE,Guy,M,1946-02-27,60,Retraités des professions libérales,73.0,72
14797,38,ISERE,520,Valencogne,611,DEPARDON,Daniel,M,1946-02-27,61,Retraités salariés privés,73.0,72
14971,39,JURA,137,Chemilla,101,DEPRES,Gérard,M,1948-02-27,61,Retraités salariés privés,71.0,70
14991,39,JURA,159,Colonne,260,TOURNEUR,Eric,M,1960-02-27,20,Employés (secteur privé),59.0,58
15016,39,JURA,185,Cuisia,398,PICARD,Jean-Marc,M,1963-02-27,5,Industriels-Chefs entreprise,56.0,55
15019,39,JURA,188,Dammartin-Marpain,301,ESPUCHE,Jean-Louis,M,1952-02-27,61,Retraités salariés privés,67.0,66
18650,50,MANCHE,415,Prétot-Sainte-Suzanne,306,RENAUD,Thierry,M,1960-02-27,48,Fonctionnaires de catégorie B,59.0,58
18659,50,MANCHE,425,Rauville-la-Bigot,1194,LEFEVRE,Hubert,M,1951-02-27,58,Retraités agricoles,68.0,67
19582,52,HAUTE MARNE,122,Chaumont-la-Ville,122,TRELAT-VALLON,Françoise,Mme,1955-02-27,20,Employés (secteur privé),64.0,63
21066,55,MEUSE,453,Saint-André-en-Barrois,56,JAUNEL,Aurelien,M,1984-02-27,13,Ingénieurs,35.0,34
21455,57,MOSELLE,15,Altviller,566,BALLEVRE,Jean-Jacques,M,1952-02-27,64,Retraités des entreprises publiques,67.0,66
22399,58,NIEVRE,229,Saint-André-en-Morvan,294,RAPPENEAU,Odile,Mme,1960-02-27,20,Employés (secteur privé),59.0,58
22435,58,NIEVRE,265,Saint-Quentin-sur-Nohain,121,CHOLLET,Robert,M,1951-02-27,58,Retraités agricoles,68.0,67
22685,59,NORD,207,Escautpont,4227,BERKMANS,Francis,M,1944-02-27,61,Retraités salariés privés,75.0,74
22801,59,NORD,330,Landas,2383,FRANCKE,Jean Paul,M,1943-02-27,62,Retraités de l'enseignement,76.0,75
23159,60,OISE,75,Blancfossé,130,DEBRAINE,Gilbert,M,1951-02-27,63,Retraités fonct.publique (sf enseig.),68.0,67
23470,60,OISE,451,Neuilly-sous-Clermont,1673,THIEFFAINE,Jean-Pierre,M,1944-02-27,62,Retraités de l'enseignement,75.0,74
23891,61,ORNE,212,Juvigny-sur-Orne,112,LAHAYE,Jean-Jacques,M,1951-02-27,61,Retraités salariés privés,68.0,67
24259,62,PAS DE CALAIS,74,Bailleulval,269,VERMOOTE,Bruno,M,1964-02-27,19,Autres cadres (secteur privé),55.0,54
25089,63,PUY DE DOME,11,Ars-les-Favets,238,BODEAU,Serge,M,1951-02-27,61,Retraités salariés privés,68.0,67
26216,65,HAUTES PYRENEES,126,Campuzan,159,FONTAN,Guy,M,1955-02-27,1,Agriculteurs propriétaires exploit.,64.0,63
26438,65,HAUTES PYRENEES,352,Ouzous,199,GOSSET,Dominique,M,1959-02-27,19,Autres cadres (secteur privé),60.0,59
26674,66,PYRENEES ORIENTALES,115,Montesquieu-des-Albères,1185,PONS,Huguette,Mme,1956-02-27,63,Retraités fonct.publique (sf enseig.),63.0,62
27234,67,BAS RHIN,479,Steinseltz,625,BURGER,Georges,M,1948-02-27,61,Retraités salariés privés,71.0,70
27594,68,HAUT RHIN,289,Ruelisheim,2342,DUSSOURD,Francis,M,1948-02-27,61,Retraités salariés privés,71.0,70
28044,70,HAUTE SAONE,72,Beveuge,83,PETITJEAN,Hélène,Mme,1959-02-27,20,Employés (secteur privé),60.0,59
28255,70,HAUTE SAONE,299,Lavoncourt,341,CARTERET,Jean-Paul,M,1951-02-27,62,Retraités de l'enseignement,68.0,67
29074,71,SAONE ET LOIRE,579,Villeneuve-en-Montagne,152,DUCAROUGE,Jean-Claude,M,1960-02-27,10,Artisans,59.0,58
29413,72,SARTHE,336,Solesmes,1360,LELIÈVRE,Pascal,M,1959-02-27,1,Agriculteurs propriétaires exploit.,60.0,59
29678,73,SAVOIE,236,Saint-Genix-sur-Guiers,2278,PRIMARD,Joël,M,1947-02-27,59,Retr.artis.commerc.chefs d'entrep.,72.0,71
29989,74,HAUTE SAVOIE,238,Saint-Jean-d'Aulps,1210,COTTET-DUMOULIN,Patrick,M,1955-02-27,50,Cadres sup. (entreprises publiques),64.0,63
30023,74,HAUTE SAVOIE,276,Taninges,3381,LAURAT,Yves,M,1947-02-27,39,Autres professions libérales,72.0,71
30285,76,SEINE MARITIME,228,Ectot-lès-Baons,402,BOUTEILLER,Claude,M,1956-02-27,1,Agriculteurs propriétaires exploit.,63.0,62
31259,77,SEINE ET MARNE,468,Torcy,22866,LE LAY-FELZINE,Guillaume,M,1963-02-27,47,Fonctionnaires de catégorie A,56.0,55
32296,80,SOMME,431,Hérissart,559,HOUSSE,Gérard,M,1947-02-27,59,Retr.artis.commerc.chefs d'entrep.,72.0,71
32664,80,SOMME,833,Yvrencheux,151,MARECHAL,Alfred,M,1934-02-27,65,Autres retraités,85.0,84
33753,85,VENDEE,307,La Faute-sur-Mer,740,JOUIN,Patrick,M,1956-02-27,39,Autres professions libérales,63.0,62
33820,86,VIENNE,104,Genouillé,543,BOUHIER,Robert,M,1942-02-27,58,Retraités agricoles,77.0,76
34003,87,HAUTE VIENNE,75,Isle,7508,BEGOUT,Gilles,M,1959-02-27,41,Professeurs de faculté,60.0,59
34255,88,VOSGES,128,Denipaire,254,PIERREL,Roseline,Mme,1956-02-27,43,Enseignants 1er deg.-directeurs école,63.0,62

On a donc un problème d'un jour avec `timedelta64[Y]` ! Notons que ce problème ne semble pas lié au nombre d'années.
On prend donc la bonne version :

In [9]:
maires['age'] = maires['age2']
maires.drop(columns='age2', inplace = True)
maires.head()

,code dep,nom dep,code commune,nom commune,population,nom élu,prénom élu,civilité,naissance,code profession,nom profession,age
0,1,AIN,1,L'Abergement-Clémenciat,780,BOULON,Daniel,M,1951-03-04,61,Retraités salariés privés,67
1,1,AIN,2,L'Abergement-de-Varey,234,ORSET,Max,M,1947-11-02,65,Autres retraités,71
2,1,AIN,4,Ambérieu-en-Bugey,13839,FABRE,Daniel,M,1961-09-07,51,Cadres (entreprises publiques),57
3,1,AIN,5,Ambérieux-en-Dombes,1600,PERNET,Pierre,M,1961-07-29,42,Professeurs du secondaire et techn.,57
4,1,AIN,6,Ambléon,112,BIONDA,Annie,Mme,1951-11-28,63,Retraités fonct.publique (sf enseig.),67

### Looking at data

* display the line of Paris
* sort all cities per population, largest first
* give total population
* give percentage of male mayors
* give statitics on the age of mayors

### Regardons les données

* affichee la ligne de paris
* trier toutes les villes par population, la plus grande en premier
* calculer la population totale
* donner le pourcentage d'hommes maires
* donner des statistiques sur l'âge des maires

In [10]:
maires[maires['nom commune'] == 'Paris']

,code dep,nom dep,code commune,nom commune,population,nom élu,prénom élu,civilité,naissance,code profession,nom profession,age
30061,75,PARIS,56,Paris,2249975,HIDALGO,Anne,Mme,1959-06-19,56,Autres professions,59

In [11]:
maires.sort_values('population', ascending=False).head()

,code dep,nom dep,code commune,nom commune,population,nom élu,prénom élu,civilité,naissance,code profession,nom profession,age
30061,75,PARIS,56,Paris,2249975,HIDALGO,Anne,Mme,1959-06-19,56,Autres professions,59
4322,13,BOUCHES DU RHONE,55,Marseille,850636,GAUDIN,Jean-Claude,M,1939-10-08,62,Retraités de l'enseignement,79
27806,69,RHONE,123,Lyon,491268,COLLOMB,Gérard,M,1947-06-20,62,Retraités de l'enseignement,71
12068,31,HAUTE GARONNE,555,Toulouse,447340,MOUDENC,Jean-Luc,M,1960-07-19,46,Grands corps de l'état,58
1891,6,ALPES MARITIMES,88,Nice,344064,ESTROSI,Christian,M,1955-07-01,54,Permanents politiques,63

In [12]:
maires.population.sum()

64350136

In [13]:
maires.age.describe()

count    35886.000000
mean        62.883241
std          9.311600
min         24.000000
25%         57.000000
50%         64.000000
75%         70.000000
max         96.000000
Name: age, dtype: float64

### Group data

Let's group all cities of the same department and

* sum the population with `np.sum`
* average the age of mayors with `np.mean`
* count the number of cities with `np.size`

### Regrouper les données

Grouper toutes les villes du même département et

* additionner la population avec `np.sum`
* calculer l'âge moyen des maires avec `np.mean`
* compter le nombre de villes avec `np.size`

Le résultat est un DataFrame avec les 3 colonnes indiquées ci-dessus.

In [14]:
import numpy as np

maires.groupby('code dep').agg({'population':np.sum, 'age':np.mean, 'nom commune':np.size}).rename(columns={'nom commune':'nb communes'})

          population        age  nb communes
code dep
1             603827  62.844869          419
2             462572  62.997118          694
3             342729  63.359375          320
4             160894  62.638191          199
5             138605  63.686047          172
6            1081244  63.662577          163
7             317225  62.147929          338
8             274750  62.462719          456
9             152286  64.716867          332
10            303997  63.787529          433
11            359967  63.184932          438
12            275813  62.773026          304
13           1975896  65.890756          119
14            685122  64.017021          705
15            146853  63.375969          258
16            343117  62.692500          400
17            625264  63.320594          471
18            311406  63.562500          288
19            211802  63.348178          247
21            518801  62.563481          701
22            593999  61.809140          372
23            116623  62.857143          252
24            415176  63.881508          557
25            529103  60.904040          594
26            487944  61.951087          368
27            588111  64.242963          675
28            430416  62.689055          402
29            899870  62.547703          283
30            718357  62.671388          353
31           1196811  63.117172          495
...              ...        ...          ...
76           1251282  63.475168          745
77           1338427  62.828794          514
78           1413635  64.679389          262
79            370939  62.260726          303
80            571211  63.805627          782
81            303779  63.064516          310
82            244545  64.461538          195
83           1012735  65.287582          153
84            546630  65.052980          151
85            621818  61.801444          277
86            306122  63.352273          176
87            376058  62.815920          201
88            378183  63.210526          513
89            342463  63.305495          455
90            143348  63.617647          102
91           1195360  61.158974          195
92           1581628  66.083333           36
93           1529928  59.350000           40
94           1323990  63.282609           46
95           1177088  64.646739          184
2A            145846  63.395161          124
2B            141650  64.396552          174
ZA            404635  62.468750           32
ZB            392291  64.617647           34
ZC            104824  49.375000            8
ZD            828581  60.958333           24
ZM            171846  47.933333           15
ZN            236407  59.178571           28
ZP            237948  57.585366           41
ZS              6311  65.000000            2

[104 rows x 3 columns]